* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container img {
  height: 25%;
  padding-left: 0;
}

.time-display {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 30px;
}
.vid-container {
  overflow: hidden;
  position: relative;
}

video {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  z-index: -10;
}

.time-select button {
  width: 90px;
  height: auto;
  font-size: 20px;
  color: #fff;
  background: none;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.time-select button:hover {
  color: #000;
  background-color: #fff;
}

.sound-picker button {
  border: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 30px;
  cursor: pointer;
  margin: 10px;
}

.sound-picker button:nth-child(1) {
  background: #4972a1bb;
}

.sound-picker button:nth-child(2) {
  background: #e2d744bb;
}

.sound-picker button img {
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .sound-picker button {
    width: 170px;
    height: 170px;
  }

  .time-display {
    font-size: 60px;
  }

  .time-select button {
    width: 200px;
    font-size: 40px;
  }
}
